.search-input:focus {
	border: 0;
	outline: none;
}

.search-input {
	background-color: #f7f4ff;
}

.search-box {
	width: 342px;
	outline: $primary;
	background-color: #f7f4ff;
	padding: 0.25rem 0.5rem 0.25rem 0.75rem;
	@include media-breakpoint-down(sm) {
		max-width: 342px;

	}
}

.comments-box {
	outline: $primary;
	background-color: #f7f4ff;
	padding: 0.25rem 0.5rem 0.25rem 0.75rem;
}

.t-border {
  border-top: 2px solid #c5c5c5;
}

.r-border {
	border-right: 2px solid #c5c5c5;
}

.rounded-top-xl {
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
}

.rounded-bottom-xl {
	border-bottom-left-radius: 24px;
	border-bottom-right-radius: 24px;
}

.m-border {
	width: 1px;
	height: 24px;
	background: #C7C7C7;
	margin: 0 12px;
}

.border-none {
	border: none;
}