.home:hover {
	background-color: #f7f4ff;
}

.forget-password {
	color: #aaaaaa;
	&:hover {
		color: $primary;
	}
}
.h-primary-100:hover {
	background-color: #e5e0f8;
}

.is-active {
	color: $primary !important;
}

.is-active-profile {
	color: $primary !important;
	background-color: #e5e0f8;
}
