.fs-2xs {
	font-size: 12px;
}

.fs-xs {
	font-size: 14px;
}

.fs-sm {
	font-size: 16px;
}

.fs-md {
	font-size: 18px;
}

.fs-lg {
	font-size: 20px;
}

.fs-xl {
	font-size: 24px;
}

.fs-2xl {
	font-size: 28px;
}

.fs-3xl {
	font-size: 30px;
}

.fs-4xl {
	font-size: 34px;
}

@include media-breakpoint-down(md) {
	.fs-md-2xs {
		font-size: 12px;
	}
	.fs-md-xs {
		font-size: 14px;
	}
	.fs-md-sm {
		font-size: 16px;
	}
	.fs-md-lg {
		font-size: 20px;
	}
	.fs-md-xl {
		font-size: 24px;
	}
}

.text-dark-800 {
	color: #4f4f4f;
}
