.search-button {
	background-color: #9487d1;
	color: #eee;
	display: inline-flex;
}

.btn-third {
	background-color: #eeebfb;
	border: 1px solid #cbc1f1;
	&:hover {
		background-color: #e5e0f8;
	}
}

.btn-none {
	border: none;
	background-color: transparent;
}

.btn--primary {
	font-size: 16px;
	border: none;
	background-color: #cbc1f1;
	color: $primary;
	border-radius: 4px;
	padding: 8px 16px;
	font-weight: bold;
	&:hover {
		background-color: #c1b8e6;
		color: #7467b0;
	}
	@include media-breakpoint-down(md) {
		font-size: 14px;
		padding: 6px 12px;
	}
}

.btn--secondary {
	font-size: 16px;
	background-color: #e5e0f8;
	color: #7464b3;
	cursor: pointer;
	&:hover {
		background-color: #e1dcf3;
	}
}

.btn--danger {
	font-size: 16px;
	border: none;
	background-color: #f2d9e4;
	color: #d45c50;
	border-radius: 4px;
	padding: 8px 16px;
	font-weight: bold;
	&:hover {
		background-color: #e9d0db;
		color: #c35349;
	}
	@include media-breakpoint-down(md) {
		font-size: 14px;
		padding: 6px 12px;
	}
}
